body {
    font-family: 'Montserrant', sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 40px 0;
}

header img.logo {
    max-width: 150px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-bottom: 40px;
}

nav a {
    text-decoration: none;
    color: #ff7a00;
    text-transform: uppercase;
    font-weight: bold;
}

